18.07-12.11/tmConsumer/src/conf/xml-resources/web-service-references/tmWebService/wsdl/localhost_8080/travelmate_vs/tmWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="anyNewMessages" type="tns:anyNewMessages"/>

<xs:element name="anyNewMessagesResponse" type="tns:anyNewMessagesResponse"/>

<xs:element name="createProfile" type="tns:createProfile"/>

<xs:element name="createProfileResponse" type="tns:createProfileResponse"/>

<xs:element name="editProfile" type="tns:editProfile"/>

<xs:element name="editProfileResponse" type="tns:editProfileResponse"/>

<xs:element name="findTravelmates" type="tns:findTravelmates"/>

<xs:element name="findTravelmatesResponse" type="tns:findTravelmatesResponse"/>

<xs:element name="getEncryptedPw" type="tns:getEncryptedPw"/>

<xs:element name="getEncryptedPwResponse" type="tns:getEncryptedPwResponse"/>

<xs:element name="getSalt" type="tns:getSalt"/>

<xs:element name="getSaltResponse" type="tns:getSaltResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="newUser" type="tns:newUser"/>

<xs:element name="newUserResponse" type="tns:newUserResponse"/>

<xs:element name="showConversations" type="tns:showConversations"/>

<xs:element name="showConversationsResponse" type="tns:showConversationsResponse"/>

<xs:element name="showMessages" type="tns:showMessages"/>

<xs:element name="showMessagesResponse" type="tns:showMessagesResponse"/>

<xs:element name="storeMessage" type="tns:storeMessage"/>

<xs:element name="storeMessageResponse" type="tns:storeMessageResponse"/>

<xs:complexType name="showConversations">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showConversationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="about" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="created_at" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="interests" type="xs:string" minOccurs="0"/>
<xs:element name="last_name" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="looking_for" type="xs:string" minOccurs="0"/>
<xs:element name="mobilenumber" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="sex" type="xs:string" minOccurs="0"/>
<xs:element name="startdate" type="xs:string" minOccurs="0"/>
<xs:element name="updated_at" type="xs:string" minOccurs="0"/>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEncryptedPw">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEncryptedPwResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProfile">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="mobilenumber" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="sex" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="startdate" type="xs:string" minOccurs="0"/>
<xs:element name="interests" type="xs:string" minOccurs="0"/>
<xs:element name="looking_for" type="xs:string" minOccurs="0"/>
<xs:element name="about" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalt">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaltResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pw" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeMessage">
<xs:sequence>
<xs:element name="senderId" type="xs:int"/>
<xs:element name="recipientId" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeMessageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTravelmates">
<xs:sequence>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTravelmatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newUser">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="last_name" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="salt" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="password" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProfile">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="mobilenumber" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="sex" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="startdate" type="xs:string" minOccurs="0"/>
<xs:element name="interests" type="xs:string" minOccurs="0"/>
<xs:element name="looking_for" type="xs:string" minOccurs="0"/>
<xs:element name="about" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anyNewMessages">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anyNewMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showMessages">
<xs:sequence>
<xs:element name="user_id" type="xs:int"/>
<xs:element name="chatPartnerId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:message" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="message">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="recipientId" type="xs:int"/>
<xs:element name="seen" type="xs:boolean"/>
<xs:element name="senderId" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>